.Arial {
font-family: "Arial", sans-serif; }

.Verdana {
font-family: "Verdana", sans-serif;}

.Tahoma {
font-family: "Tahoma", sans-serif;}

.Georgia {
font-family: "Georgia", serif;}

.Courier {
font-family: "Courier New", monospace;}

.Trebuchet {
font-family: "Trebuchet MS", sans-serif;}

.Lucida {
font-family: "Lucida Console", monospace; }

.Copper {
font-family: "Copperplate", fantasy;
font-size: 40px;               
font-weight: bold;              
font-style: italic;               
font-variant: small-caps;        
font-stretch: condensed;  
}

.Papyrus {
font-family: "Papyrus", fantasy; 
font-size: 40px;               
font-weight: bold;              
font-style: italic;               
font-variant: small-caps;        
font-stretch: condensed;  
}


.Times {
font-family: "Times New Roman", serif;
font-size: 40px;               
font-weight: bold;              
font-style: italic;               
font-variant: small-caps;        
font-stretch: condensed;  
}