.container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 50px;
}
.container2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 650px;
    
}

.box1 {
    width: 100px;
    height: 100px;
    background: red
}

.box2 {
    width: 100px;
    height: 100px;
    background: blue
}

.box3 {
    width: 100px;
    height: 100px;
    background: green
}

.box4 {
    width: 100px;
    height: 100px;
    background: orange
}
