* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}



.header {
    display: grid;
    grid-template-columns: 200px 1fr 120px;
    align-items: center;
    background: #131921;
    padding: 15px 40px;
    gap: 20px;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.search {
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.cart {
    background: #febd69;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
}

/* PRODUCTS GRID */

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px;
}

.card {
    background: white;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}