* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

main {
  max-width: 600px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
