.container {
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
}




.box1 {
    width: 100px;
    height: 100px;
    background: rgb(247, 148, 31); 
}
.box2 {
    width: 100px;
    height: 100px;
    background: rgb(237, 148, 31); 
}